/* OVERLAY */

.hv-modal-overlay{
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,0.35);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}


/* MODAL BOX */

.hv-modal{
  width: 420px;
  background: #fff;

  border-radius: 10px;

  padding: 28px;

  box-shadow:
    0 10px 25px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;
  gap: 14px;
}


/* TITLE */

.hv-modal h3{
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}


/* INPUT */

.hv-modal input,
.hv-modal select{
  width: 100%;

  padding: 10px 12px;

  border: 1px solid #ddd;
  border-radius: 6px;

  font-size: 14px;

  outline: none;

  transition: border .2s;
}

.hv-modal input:focus,
.hv-modal select:focus{
  border-color: #43a4ff;
}


/* ACTIONS */

.hv-modal-actions{
  margin-top: 8px;

  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
